.navigation-buttons {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: min-content;
    column-gap: 30px;
    background-color: rgb(179, 177, 177);
    border-radius: 10px;
    width: 350px;
    padding: 30px;
    height: 320px;
    border: 2px solid;
    border-color: black;
    margin-left: 50px;
    padding-top: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .navigation-button-div
  {
    height: 50px;
    width: 50px;
  }
  .navigation-button {
    background-color: #65686b;
    color: #fff;
    height: 35px;
    width: 50px;
    margin-top: 30px;
    border-color: black;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigation-button:hover {
    background-color: #0056b3;
  }
  .navigation-button.answer-submitted
  {
    background-color: lightgreen;
  }
  .navigation-button.marked-review
  {
    background-color: blue;
  }
